*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Space Grotesk;
    background: #171717;
    color: white;

    /* background-image: url(../img/ovaller.svg), url(../img/Oval.svg);
    background-position: 325px 150px, 930px 600px;
    background-repeat: no-repeat, no-repeat, no-repeat; */
}

a{text-decoration: none;}
li{list-style-type: none;}

.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 39px;
}

/* Header */
.header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-h4{
    font-weight: 700;
    font-size: 32px;
}
.header-h4:hover{color: #4EE1A0;}

.items{
    display: none;
}

.hamburger-menu{
    display: block;
    width: 35px;
}

.name{
    text-decoration-color: #4EE1A0;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.mobile-visible{
    display: flex;
    gap: 32px;
}
/* Header End*/


/* My Blog Post */
.desktop-hidden{display: block;}
.desktop-visible{display: none;}

.my-blog-post{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
}

.omer-esin-photo{
    position: absolute;
    max-width: 332px;
    max-height: 600px;
    top: -150px;
    z-index: -1;
    opacity: 0.8;
}

.opacity{
    position: absolute;
    top: -150px;
}
.my-blog-header{
    position: absolute;
    top: 300px;
}

.my-blog-header-h1{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2.05px;

}

.my-blog-text{
    display: block;
    margin-top: 20px;
    color: #FFFFFF;
}

.my-blog-header-mobile{
    text-align: center;
}

.cv{
    position: absolute;
    top: 250px;
    background-color: #4EE1A0;
    color: #171717;
    padding: 10px 24px;
    border-radius: 25px;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.5px;
}
/* My Blog Post End*/


/* Experience */
.experinces{
    margin-top: 700px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
    padding-inline: 16px;
    padding-block: 40px;
}

.experince{
    text-align: center;
}

.experices-header{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.experices-span{
    font-weight: 500;
    font-size: 16px;
    color: #D9D9D9;
}

.experince-icon{
    max-width: 45px;
}
/* Experience End*/

/* Contact */
.contact-container{
    background: #242424;
}

.contact{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 220px;
    row-gap: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 87px;
    margin-block-start: 100px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}

.contact-header{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1.14px;
}

.contact-paragraph{
    font-weight: 500;
    font-size: 16px;
    color: #D9D9D9;
}
.contact-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
}

.inpt{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #FFFFFF;
    width: 100%;
    height: 43px;
}

/* inputta yanlış girildiğinde border etrafı kırmızı yanıcak */
.email:invalid{
    border-color: red;
    background-image: url(../img/invalid.svg);
    background-repeat: no-repeat;
    background-position: 470px 10px;
}

.email:focus:invalid{
    border-color: red;
}
.email:required:valid{
    border-color: #4EE1A0;
}

.email:invalid{
    border-color: red;
    background-image: url(../img/invalid.svg);
    background-repeat: no-repeat;
    background-position: 470px 10px;
}

.inpt:focus:invalid{
    border-color: red;
}
.inpt:required:valid{
    border-color: #4EE1A0;
}

.message{
    height: 107px;
}

.submit-btn{
    border: none;
    border-bottom: 2px solid #4EE1A0;
    background: transparent;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    padding-bottom: 10px;
}

.submit-btn:active{color: #4EE1A0;}
.submit-btn:hover{color: #4EE1A0;}

footer{
    margin-block: 47px;
}


.social-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* Contact End */






/* Projects HTML*/

.projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
}

.project-header{
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
}

.project{
    margin-top: 40px;
}

.project-img{
    width: 100%;
    object-fit: cover;
}

.project-text{
    margin-top: 20px;
}
.project-header-h4{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 7px;
}

.project-span{
    font-weight: 500;
    font-size: 18px;
    margin-right: 18px;
    color: #D9D9D9;
}

.projects-view{
    display: flex;
    gap: 32px;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #4EE1A0;
    font-weight: 700;
    font-size: 16px;
}
.project-view{
    color: #D9D9D9;
}
.project-view:hover{color: #4EE1A0;}

/* Projects HTML End*/



/* aside menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 510px; */
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/* aside menu end */


/* Tablet */
@media(width >= 768px){
    /* body{
        background-position: -190px 125px, 700px 600px;
    } */
    /* Header */
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .items{
        display: flex;
        gap: 32px;
    }
    
    .link{
        font-weight: 700;
        font-size: 18px;
        color: #D9D9D9;
        transition: all .3s ease-in;
        
    }
    .link:hover{
        color: #4EE1A0;
    }

    .hamburger-menu{display: none;}

    .name{
        text-decoration-thickness: 8px;
        text-underline-offset: 12px;
    }

    /* Header End*/

    /* My Blog Post */
    .desktop-hidden{display: none;}
    .desktop-visible{display: block;}

    .my-blog-post{
        position: relative;
    }
    
    .omer-esin-photo{
        margin-top: 0;
        position: absolute;
        top: -90px;
        right: -20px;
        max-width: 630px;
        max-height: 721px;
        z-index: -1;
    }

    .my-blog-header{
        position: absolute;
        top: 90px;
        left: 0;
    }

    .my-blog-header-h1{
        font-size: 88px;
        letter-spacing: -2.5px;
    }

    .my-blog-text{
        margin: 60px 500px 0 0;
    }

    .cv{
        top: 400px;
        padding: 12px 32px;
        font-size: 18px;
    }
    /* My Blog Post End*/

    /* Experience */
    .experinces{
        border-bottom: none;
        margin-top: 700px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7px;
        row-gap: 52px;
        padding-inline: 9px;
        padding-block: 52px;
    }

    .experince{
        text-align: left;
    }

    .experices-header{
        font-size: 48px;
        justify-content: flex-start;
    }

    .experices-span{
        font-size: 18px;
    }Experience End

    /* Contact  */

    .contact{
        margin-block-start: 150px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 48px;
        padding-bottom: 92px;

    } 
    
    .contact-header{
        font-size: 72px;
        letter-spacing: -2.05px;
    } 
    
    .contact-paragraph{
        font-size: 18px;
    }

    .contact-input{
        align-items: flex-end;
    }

    .inpt{
        width: 100%;
    }

    .submit-btn{
        margin-left: 301px;
    }
    /* Contact End */






    /* Projects HTML*/

    .projects{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
        column-gap: 24px;
    }

    .project-header{
        font-weight: 700;
        font-size: 72px;
        margin-top: 100px;
    }

    .project{
        margin-top: 60px;
    }

    .project-img{
        width: 100%;
        object-fit: cover;
    }

    .project-text{
        margin-top: 20px;
    }
    .project-view{display: block;}
    /* Projects HTML End*/
}




/* Desktop */
@media(width >= 1200px){
    /* Header */
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .items{
        display: flex;
        gap: 32px;
    }
    
    .link{
        font-weight: 700;
        font-size: 18px;
        color: #D9D9D9;
        transition: all .3s ease-in;
        
    }
    .link:hover{
        color: #4EE1A0;
    }

    .hamburger-menu{display: none;}

    .name{
        text-decoration-thickness: 8px;
        text-underline-offset: 15px;
    }

    /* Header End*/

    /* My Blog Post */
    .desktop-hidden{display: none;}
    .desktop-visible{display: block;}

    .my-blog-post{
        position: relative;
    }
    
    .omer-esin-photo{
        margin-top: 0;
        position: absolute;
        top: -90px;
        right: 0;
        max-width: 627px;
        max-height: 767px;
        z-index: -1;
    }
    .my-blog-header{
        position: absolute;
        top: 127px;
        left: 0;
    }

    .my-blog-header-h1{
        font-size: 88px;
        letter-spacing: -2.5px;
    }
    
    .my-blog-text{
        margin: 43px 837px 0 0;
    }

    .cv{
        top: 360px;
        padding: 12px 32px;
        font-size: 18px;
    }
    /* My Blog Post End*/

    /* Experience */
    .experinces{
        margin-top: 824px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 58px;
        padding-inline: 5px;
        padding-block: 78px;
    }

    .experince{
        text-align: left;
    }

    .experices-header{
        font-size: 48px;
        justify-content: flex-start;

    }

    .experices-span{
        font-size: 18px;
    }
    /* Experience End*/

    /* Contact */
    .contact{
        margin-block-start: 200px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 220px;
        padding-bottom: 92px;
    } 
    
    .contact-text{
        text-align: left;
    } 

    .contact-header{
        font-size: 88px;
        letter-spacing: -2.5px;
    } 

    .contact-paragraph{
        font-size: 18px;
    } 

    .contact-input{
        align-items: flex-end;
    } 

    .inpt{
        width: 100%;
    } 
    
    .submit-btn{
        margin-left: 370px;
    }
    /* Contact End */






    /* Projects HTML*/

    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 69px;
    }

    .project-header{
        font-size: 88px;
    }

    .project{
        margin-top: 80px;
    }

    .project-img{
        width: 100%;
        object-fit: cover;
    }

    .project-text{
        margin-top: 20px;
    }

    .project{
        position: relative;
    }

    .projects-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 30px;
        text-decoration: none;
        opacity: 0;
        transition: opacity 0.5s;
        width: 100%;
        height: 85%;
    }

    .project:hover .projects-view {
        opacity: 1;
    }

    /* Projects HTML End*/
}